*{
    color: black;
    margin: 0;
    padding: 0;
    /* background: #c841a0; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body::before{
    content: "";
    background-image: url("bg3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    height: 100vh;
}
body{
    /* background-image: url("bg2.jpg") ; */
}



#cityInput, #cityName, #inputContainer,button{
    margin: 3px;
padding:5px;
text-align:center;
font-size:20px;
font-weight:bold;
color: black;
}
#inputContainer{
    border: none;
}
button{
    background-color: black;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    padding: 10px;
}
button:hover{
    color: black;
    background-color: white;
    transition: 0.8s;
}
#cityInput{
    background-color: rgb(216, 207, 207);
    border: 2px solid white;
    box-shadow: 2px 2px 2px black;
    border-radius: 10px;
}

#weatherContainer{
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 1300px;
    border: 5px solid rgb(0, 0, 0);    
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(4, 0, 0);
}

#iconsContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 240px;
    width: 1200px;    
    border: 5px solid rgb(0, 0, 0);    
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.icons{
    display: inline-bock;
    float: left;
    height: 200px;
    width: 190px;
    margin: 20px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.image{
    height: 140px;
    width: 100%;
}

.imgClass{
    height: 140px;
    width: 100%;
}

.weather{
    margin: 5px;
   /*  background-color: rgb(106, 215, 255); */
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.minValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}


.maxValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}
